{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {% block title %}Главная{% endblock %} :: Доска объявлений</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
    </head>
    <body>
        <header>
            <h1>Объявления</h1>
        </header>
        <nav>
            <а href = "{% url 'index' %}">Главная</а>
            <а href = "{% url 'add' %}">Добавить</а>
            {% for rubric in rubrics %}
            <а href = "{% url 'by_rubric' rubric.pk %}">
            {{ rubric.name }} </а>
            {% endfor %}
        </nav>
        <section>
        {% block content %}
        {% endblock %}
        </section>
    </body>
</html>